.filter {
  margin: 18px auto;
  display: flex;
  flex-wrap: wrap;
  gap: 18px;

  .MuiInputBase-root {
    height: 56px;
  }
  .filter__company {
    flex: 2.5 1 0%;
    min-width: 300px;
  }
  .filter__select {
    flex: 1 1 0%;
    min-width: 245px;
  }
  .filter__submit {
    flex: 0.5 1 0%;

    height: 56px;
    padding: 8px 22px;
    background-color: #999999;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
  }
}
